/* style.css */
body {
    background: black;
    color: lime;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#container {
    text-align: center;
}
#guessInput {
    background: black;
    color: lime;
    border: 1px solid lime;
    padding: 10px;
    font-size: 1rem;
}
button {
    background: lime;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
}
button:hover {
    background: black;
    color: lime;
    border: 1px solid lime;
}
/* Message box */
#messageBox {
    margin-top: 20px;
    padding: 15px;
    font-size: 1.2rem;
    border: 2px solid lime;
    display: none; /* Caché par défaut */
}
#messageBox.success {
    color: lime;
    border-color: lime;
}
#messageBox.error {
    color: red;
    border-color: red;
}
